.add-block-btn{
    opacity: 0.6;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
    background-color: #fff;
    top: calc(50% - 2rem);
    cursor: pointer;
    transition: opacity .8s;
}

.add-block-btn:hover{
    opacity: 0.8;
}