.file-name-input{
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.5);
}

.color-input, .file-name-input{
	border: none;
	outline: none;
	height: 100%;
	padding: 0 0.6rem;
	border-radius: 5px;
	background-color: transparent;
}

.file-name-input:focus{
	border: solid 1px #9c9898;
}

.color-input{
	font-size: 1.6rem;
	width: 100%;
	font-family: inherit;
	font-weight: 500;
	padding: 0;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
}

.color-input:focus{
	cursor: default;
}

.number-input{
	width: 2rem;
	border: solid 1px #c7c2c2;
	outline: none;
	padding: 0.2rem;
	border-radius: 3px;
	color: transparent;
 	text-shadow: 0 0 0 #000000;
}