.number-input {
  width: 1rem;
  border: solid 1px #c7c2c2;
  outline: none;
  padding: 0.2rem;
  border-radius: 3px;
  color: transparent;
  text-shadow: 0 0 0 #000000;
  font-size: 1rem;
  text-align: center;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.counter-minus,
.counter-add {
  cursor: pointer;
  color: #c7c2c2;
  font-size: 0.6rem;
  border: solid #f5f1f1;
  padding: 0.2rem 0.3rem;
  border-radius: 4px;
}

.counter .counter-minus-disabled,
.counter .counter-add-disabled {
  color: #f5f1f1;
  cursor: default;
}

@media (max-width: 450px) {
  .counter {
    gap: 1rem;
  }

  .counter-minus,
  .counter-add {
    font-size: 1rem;
    border-radius: 4px;
  }

  .number-input {
    width: 1.4rem;
    font-size: 1.4rem;
  }
}
