.new-btn{
	border-radius: 3px;
	padding: .6rem .8rem;
	background-color: rgb(233, 207, 159);
	color: white;
	transition: all .3s;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	box-shadow: 0 3px 5px #eee;
}

.new-btn p{
	margin: 0;
}

.new-btn:hover{
	background-color: rgb(228, 199, 147);
	box-shadow: 0 5px 8px #eee;
}

