.header-row {
  border-bottom: 1px solid #e6e6e6;
  height: 2.4rem;
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.header-row,
.header-row-segment {
  display: flex;
  align-items: center;
}

.header-row-two {
  justify-content: space-between;
}

.header-row-segment {
  justify-content: space-around;
}

.file-open-icon {
  margin-right: 0;
  font-size: 1.7rem;
  color: rgb(233, 207, 159);
}

.color-block-counter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.undo-redo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-left: 1rem;
  border-left: solid #f5f1f1;
  border-right: solid #f5f1f1;
  padding: 0 1rem;
}

.undo,
.redo {
  cursor: pointer;
  color: #c7c2c2;
}

.undo-redo .disable-undo,
.undo-redo .disable-redo {
  color: #f5f1f1;
  cursor: default;
}

.list-icon {
  color: #c7c2c2;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.color-blocks {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.overflow-none {
  overflow: hidden;
}

.visibility-none {
  visibility: hidden;
}

.h-full {
  height: 100vh;
}

.palette {
  display: grid;
  grid-template-rows: 6.93rem 1fr;
}

.full-page .link {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(18, 18, 107);
  font-weight: 500;
}

.generate-palette {
  outline: none;
  border: #c7c2c2 solid;
  padding: 0.4rem 0.6rem;
  background: transparent;
  color: inherit;
  border-radius: 4px;
  font-size: 1rem;
}

@media (max-width: 1280px) {
  .color-blocks {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .undo,
  .redo,
  .undo-redo .disable-undo,
  .undo-redo .disable-redo,
  .header-row-segment {
    font-size: 1.4rem;
  }

  .color-block-counter {
    gap: 1.5rem;
  }

  .color-blocks-text {
    display: none;
  }

  .undo-redo {
    gap: 3rem;
    margin-left: 1.5rem;
    padding: 0 1.5rem;
  }

  .list-icon {
    margin-left: 1.5rem;
  }

  .generate-palette {
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
  }
}
